<h1>{{student.fullname}}</h1>

<ul class="list-group">
  <li class="list-group-item">Name: {{student.fullname}}</li>
  <li class="list-group-item">Username: {{student.username}}</li>
  <li class="list-group-item">password: {{student.password}}</li>
  <li class="list-group-item">email: {{student.email}}</li>
  <li class="list-group-item">Ta: {{student.tas}}</li>
</ul>
<a href="/student/{{student.id}}/edit" class="btn btn-warning mt-4">Edit</a>